<div class="space space-component">
  
  <nb-form-field class="input">
    <nb-icon nbPrefix icon="email"></nb-icon>
    <input nbInput class="size-xl-medium" placeholder="メールアドレス" type="email" shape="rectangle" status="basic">
  </nb-form-field>
  
  
  <nb-form-field class="input1">
    <nb-icon nbPrefix icon="lock"></nb-icon>
    <input nbInput class="size-xl-medium" placeholder="パスワード" type="password" shape="rectangle" status="basic">
  </nb-form-field>
  
  <button nbButton class="button size-xl-medium" appearance="filled" status="info">
    <nb-icon class="icon btn-icon" icon="star"></nb-icon>
    <span>ログインする</span>
  </button>
</div>