:host > .slot {
  height: 100%;
  
  .space-component {
    height: 100%;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 8px 0;
    overflow-x: visible;
    overflow-y: auto;
    background-color: unset;
  }
    
  @media (max-width: 480px) {
    .space-component {
      padding: 0;
    }
  }
  
}