<nb-card class="card">
  <nb-card-header class="slot">
    <div class="space space-component">
      <h5 class="heading text-basic">ログイン</h5>
      <img class="image" src="https://www.vectorlogo.zone/logos/nestjs/nestjs-icon.svg">
    </div>
  </nb-card-header>

  <nb-card-body class="slot">
    <app-sign-up-form></app-sign-up-form>
  </nb-card-body>

  <nb-card-footer class="slot">
    <div class="space space-component1">
      <a href="" target="_blank" class="link text-primary">新規登録はこちら</a>
    </div>
  </nb-card-footer>
</nb-card>